html {
  background-color: black;
}

#button-panel {
  background-color: rgba(139, 0, 0, 0.644);
  padding: 20px;
  border: 10px solid darkgreen;
  margin: 5px;
}

#input-section {
  margin: 10px;
  text-align: right;
  color: white;
}

#giphy-panel {
  color: white;
  padding: 5px;
  text-align: center;
}

.gif {
  padding-top: 5px;
  padding-bottom: 10px;
}
